* {
    box-sizing: border-box;
    --primary-color: #EAF0F2;
    --secondary-color: #202226;
    --primary-tint: #BED1D8;
    --secondary-tint: #8499A5;
    --tertiary-tint: #4C6472;
}

@font-face {
    font-family: Metropolis regular;
    src: url("Fonts/Metropolis-Regular.otf");
}

body {
    margin: 0;
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, p, small {
    font-family: Metropolis regular;
    color: var(--secondary-color);
}

.overlay h1, .overlay h2, .overlay h3, .overlay h4, .overlay h5, .overlay h6, .overlay p, .overlay small {
    color: var(--primary-color);
}

div.noStaff {
    transform: translate(20%,40px);
}

div#content {
    height: 100vh;
    width: 100vw;
}

div#FoldOutNavButton {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 80px;
    width: 80px;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

div#FoldOutNavButton:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.clipImgWrap {
    position: absolute;
    z-index: -1;
}

.clipImgWrap.topLeftCorner {
    left: 0;
    filter: drop-shadow(3px 3px 8px rgba(50, 50, 0, 0.5));
}

.clipImgWrap.topRightCorner {
    right: 0;
    filter: drop-shadow(-3px 3px 8px rgba(50, 50, 0, 0.5));
}

.clipImgWrap.topLeftCorner > * {
    width: 320px;
    height: 320px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.clipImgWrap.topRightCorner > * {
    width: 320px;
    height: 320px;
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
}